/*----------------- CONTACT SECTIONS ---------------*/

h4 {
  color: $color-gallery;
  font-size: 25px;
  text-align: center;

}

.red__item{
  margin-top: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.red__item .fa {
  font-size: 60px; 
  margin: 0 24px;
}

/*----------------- CONTACT SECTIONS ENDS ---------------*/
