/*----------------- CONTACT SECTIONS ---------------*/

h4 {
  color: $color-gallery;
  font-size: 25px;
  text-align: center;

}
.fa {
  text-decoration: none; /* Elimina el subrayado de los iconos */
}

.redes_item {
  margin-bottom: 80px; /* Agrega un espacio debajo de los iconos */
}
.red__item{
  margin-top: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.red__item .fa {
  font-size: 60px; 
  margin: 0 24px;
}

/*----------------- CONTACT SECTIONS ENDS ---------------*/
