footer{
  p {
    font-family: "Cantarell", sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #ba1583a6;
    position: absolute;
    text-align: center;
    background-image: linear-gradient(#d42d976c, #cd1a6e2a);
    box-shadow: 0px 8px 16px 0px rgba(231, 39, 183, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 100%;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    margin: 0;
  }
}
