/*---------------- INDEX ------------------*/
.deco {
  text-decoration: none;
  color: #fffd;
}

.gallery {
  background-image: linear-gradient(
    0px 0px 10px 10px solid (#ebead3, #cd1a6e43)
  );
  font-family: "Cantarell", sans-serif;
  color: #fff;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
  container-name: gallery;
  container-type: inline-size;
  justify-content: space-evenly;
  

  .gallery__title {
    font-size: 3rem;
    margin-bottom: 0;
    color: #da2f84d0;
  }

  .gallery__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80dvh;
    


    .gallery__project {
      background-image: linear-gradient(#bb0374ad, #d0124848),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdhDIr8sOGkc9CIPSc51moa9fUK4wsoDrk1M-nltJqTQ&s");
      background-position: center;
      background-size: cover;
      display: grid;
      place-content: center;
      border-radius: 8px;
      transition: .4s ease-in;
      cursor: pointer;

      &:nth-child(1) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878021/batido_qemjwp.jpg?_s=public-apps"); 
      }

      &:nth-child(2) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878021/balsamo-labial_wsinrv.jpg?_s=public-apps");
      }

      &:nth-child(3) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878023/sepillo_lievq5.jpg?_s=public-apps");
      }

      &:nth-child(4) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878022/vela_z7dsf8.jpg?_s=public-apps");
      }

      &:nth-child(5) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878021/spray-sandia_zltdi6.jpg?_s=public-apps");
      }

      &:nth-child(6) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714918811/desodorante-solido_d3gqst.jpg?_s=public-apps");
      }
      &:nth-child(7) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714916388/crema-para-peinar-mango_f4kotv.jpg?_s=public-apps");
      }
      &:nth-child(8) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878023/sales_zkpc42.jpg?_s=public-apps");
      }
      &:nth-child(9) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://res.cloudinary.com/dpcpcnqmq/image/upload/fl_preserve_transparency/v1714878022/jabon-natural2_v3kjtv.jpg?_s=public-apps");
      }

      &:hover {
        opacity: 0.74;
        outline: 2px solid #fff6;
      }
    }
  }
}

/*----------------- INDEX ENDS ---------------*/
