/*---------------- INDEX ------------------*/
.deco {
  text-decoration: none;
  color: #fffd;
}

.gallery {
  background-image: linear-gradient(
    0px 0px 10px 10px solid (#ebead3, #cd1a6e43)
  );
  font-family: "Cantarell", sans-serif;
  color: #fff;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
  container-name: gallery;
  container-type: inline-size;
  justify-content: space-evenly;
  

  .gallery__title {
    font-size: 3rem;
    margin-bottom: 0;
    color: #da2f84d0;
  }

  .gallery__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80dvh;
    
    .gallery__project a {
      text-decoration: none;
    }

    .gallery__project {
      background-image: linear-gradient(#bb0374ad, #d0124848),
        url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdhDIr8sOGkc9CIPSc51moa9fUK4wsoDrk1M-nltJqTQ&s");
      background-position: center;
      background-size: cover;
      display: grid;
      place-content: center;
      border-radius: 8px;
      transition: .4s ease-in;
      cursor: pointer;


      &:nth-child(1) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/7VjXW7b/batido-10-11zon.webp"); 
      }

      &:nth-child(2) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/82nTTrR/balsamo-labial.jpg");
      }

      &:nth-child(3) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/41v2mwV/sepillo-32-11zon.webp");
      }

      &:nth-child(4) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/zm0hJGX/index-3-19-11zon.webp");
      }

      &:nth-child(5) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/whBjt5H/index-4-20-11zon.webp");
      }

      &:nth-child(6) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/CsM13Wr/desodorante-solido-16-11zon.webp");
      }
      &:nth-child(7) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/ChvYFp6/crema-para-peinar-mango.jpg");
      }
      &:nth-child(8) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/SvzmqmF/sales-31-11zon.webp");
      }
      &:nth-child(9) {
        background-image: linear-gradient(#bb0374ad, #d0124848),
          url("https://i.ibb.co/wrsVWD0/jabon-natural2-22-11zon.webp");
      }

      &:hover {
        opacity: 0.74;
        outline: 2px solid #fff6;
      }
    }
  }
}

/*----------------- INDEX ENDS ---------------*/
