/*TIPOGRAFIA*/

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

$font_title: "Questrial", sans-serif;
$font_paragraph: "Cantarell", sans-serif;
/*
font-family: "Cantarell", sans-serif;
font-family: "Questrial", sans-serif;
*/